.header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #2377BE;

    .inner {
        margin: 0 auto;
        padding: 0 1.5em;
        max-width: 54rem;

        h1 {
            font-weight: 900;
            font-size: 2em;
            color: #f7f7f7;
        }

        .links {
            margin-top: 10px;
            font-size: 1.25em;

            a {
                width: auto;
                display: inline-block;
                font-weight: 900;
                margin-right: 15px;
            }
        }
    }
}

@media screen and (max-width: 58em) {
    .header {
        .inner {
            max-width: 36rem;
        }
    }
}
