.projects {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 715px;
    flex-direction: column;

    .project {
        height: auto;
        border-radius: 10px;
        padding: 10px 15px;
        font-size: 0.9em;
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        width: auto;
        max-width: 715px;

        p {
            padding-bottom: 10px;
        }

        a {
            font-weight: 900;
            font-size: 1.5em;
            display: inline-block;
            margin-bottom: 10px;
        }

        .language {
            float: right;
            border-radius: 0.5em;
            padding-right: 0.75em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            display: flex;
            align-items: center;

            .text {
                margin-left: 5px;
            }

            .indicator {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: inline-block;
                position: relative;
                margin-left: 5px;
                border: solid 1px rgba(0, 0, 0, 0.15);

                &.c { background-color: #555555; }

                &.csharp { background-color: #178600; }
          
                &.cplusplus { background-color: #F34B7D; }
                
                &.css { background-color: #563D7C; }
                
                &.dart { background-color: #00B4AB; }
                
                &.html { background-color: #E34C26; }
                
                &.java { background-color: #B07219; }
                
                &.javascript { background-color: #F1E05A; }
                
                &.kotlin { background-color: #F18E33; }
                
                &.python { background-color: #3572A5; }
                
                &.rust { background-color: #DEA584; }
                
                &.swift { background-color: #FFAC45; }
                
                &.typescript { background-color: #2B7489; }
                
                &.vue { background-color: #2C3E50; }
                
                &.webassembly { background-color: #04133B; }
            }
        }
    }
}
