* {
    margin: 0;
    padding: 0;
    font-family: "system-ui", sans-serif;
    color: #000;
}

body, html {
    font-size: 1em;
    height: 100%;
    min-height: 100%;
}

body {
    margin-left: 3em;
    margin-right: 3em;
}
